@import "null.css";
/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #424551;
  text-align: left;
  line-height: 1.62;
}

.name {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}

.preamble {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.name,
.preamble,
.cite {
  color: #1e212c;
}

.text,
.info {
  font-weight: 400;
}

.cite {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
